<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class='header'>
      <h1>Bem vindo à Million</h1>
      <p>Sua plataforma digital de investimentos</p>

      <a href="/adm.json" target="_blank">Clique aqui para chamar a primeira API</a>
    </header>
  </body>
</html>
